<%-include("./components/header")-%>
<%-include("./components/nav.ejs")-%>
  <body class="  bg-gray-800 w-full h-screen relative" >
    
    <!-- thumbkins  -->
<div class="container itemsHi  w-full h-auto flex   flex-wrap justify-center gap-2 ">
<% data.forEach(element => { %>
  <div class=" mt-3  h-60  md:h-80 md:w-80  rounded-xl   bg-slate-500 bg-slate-300">
    <a href="/show/<%= element._id%>">
      <img src="<%= element.thumbnailLink %> " class="h-full w-full rounded-xl" alt="">
    </a>
</div>
<% }) %>

</div>
<script src="/script/index.js"></script>
  </body>
</html>
